{{- if .Values.secrets.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "agentlens.fullname" . }}
  labels:
    {{- include "agentlens.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.secrets.jwtSecret }}
  jwt-secret: {{ .Values.secrets.jwtSecret | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.adminApiKey }}
  admin-api-key: {{ .Values.secrets.adminApiKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.otlpAuthToken }}
  otlp-auth-token: {{ .Values.secrets.otlpAuthToken | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.stripeSecretKey }}
  stripe-secret-key: {{ .Values.secrets.stripeSecretKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.stripeWebhookSecret }}
  stripe-webhook-secret: {{ .Values.secrets.stripeWebhookSecret | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.loreApiKey }}
  lore-api-key: {{ .Values.secrets.loreApiKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.auditSigningKey }}
  audit-signing-key: {{ .Values.secrets.auditSigningKey | b64enc | quote }}
  {{- end }}
  {{- if and .Values.externalDatabase.enabled .Values.externalDatabase.url (not .Values.externalDatabase.existingSecret) }}
  database-url: {{ .Values.externalDatabase.url | b64enc | quote }}
  {{- end }}
  {{- if and .Values.externalRedis.enabled .Values.externalRedis.url (not .Values.externalRedis.existingSecret) }}
  redis-url: {{ .Values.externalRedis.url | b64enc | quote }}
  {{- end }}
{{- end }}
